NODE_ENV=development
# NODE_ENV="production"

DATABASE_URL="your_database_connection_url"
DIRECT_URL="your_direct_database_connection_url"

PORT=5000
# FRONTEND_URL="your_local_frontend_url"
# FRONTEND_URL="your_production_frontend_url"
FRONTEND_URL="your_frontend_url"
BACKEND_URL="your_backend_url"

BCRYPT_SALT_ROUNDS=12
JWT_SECRET="your_jwt_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"

GOOGLE_CLIENT_ID="your_google_client_id"

# Created by Vercel CLI
VERCEL_OIDC_TOKEN="your_vercel_oidc_token"

REDIS_USER="your_redis_user"
REDIS_PASSWORD="your_redis_password"
REDIS_HOST="your_redis_host"
REDIS_PORT=6379

SMTP_USER="your_smtp_email"
SMTP_PASSWORD="your_smtp_password"
EMAIL_SENDER="your_sender_email"

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# BKASH_BASE_URL="your_bkash_sandbox_url"
BKASH_BASE_URL="your_bkash_live_url"
BKASH_USERNAME="your_bkash_username"
BKASH_PASSWORD="your_bkash_password"
BKASH_APP_KEY="your_bkash_app_key"
BKASH_APP_SECRET="your_bkash_app_secret"

# SSLCommerz
SSL_STORE_ID="your_ssl_store_id"
SSL_STORE_PASSWORD="your_ssl_store_password"
SSL_IS_LIVE=false
SSL_PAYMENT_API="your_ssl_payment_api_url"
SSL_VALIDATION_API="your_ssl_validation_api_url"

# Judge0 API Configurations
JUDGE0_API_URL="your_judge0_api_url"
JUDGE0_HOST="your_judge0_host"
JUDGE0_KEY="your_judge0_api_key"